%section
  %h1 Contact Us
  %address
    Lydia Morgan, Chair
    %br
    Juneteenth Cincinnati, Inc.
    %br
    6242 Orchard Lane
    %br
    Cincinnati, OH 45213
  = link_to "513-631-7289", "tel:+1-513-631-7289"
  = link_to "lydiajmorgan@gmail.com", "mailto: lydiajmorgan@gmail.com"
