%section
  %h1 Directions
  %p The Festival is in Cincinnati's Eden Park above Downtown.
  %p
    = link_to "Google Maps Driving Directions", "https://www.google.com/maps/place/Eden+Park/@39.1163363,-84.4961688,15z/data=!4m5!3m4!1s0x0:0xdb83590101786430!8m2!3d39.1163363!4d-84.4961688", target: "_blank"
  %address
    950 Eden Park Dr.,
    Cincinnati, OH 45202
  %h2 Parking
  %ul
    %li Gilbert Ave-with Free Shuttle
    %li Mt. Adams Dr.
    %li Eden Park Dr.
    %li Cincinnati Art Museum Lot
  %p Handicap parking is available in marked spots in the Festival Area with a placard or behind the Association for the Blind on Gilbert which has a Free Shuttle.
