%section
  %h1 Potential Festival Vendors &amp; Exhibitors
  %p Cincinnati's 33rd annual Juneteenth Festival will be in Eden Park on June 20-21.  We are now accepting application for vendors & exhibitors on Saturday, June 20 (there is no vending on Sunday, June 16).
  %p We are working hard to assure that the event is well publicized and draws thousands of folks from all over the Cincinnati area.
  %p As always, the afternoon will be packed with entertainment and many other attractions. The Festival will continue on Sunday, with a Father's Day concert of inspirational music. All vending is limited to Saturday.
  %h2 Vending &amp; Display Opportunities
  %p
    We provide tented booth spaces&mdash;10' x 20' for food sales, 10' x 10' for all others.
    = link_to "Click here to view the vendor fees.", "vender-fees.html"
  %h2 Applications &amp; Rules
  %h3 2021 Exhibitor Application
  %p The Festival will have several tent pavilions  with space for several exhibitors. Each Exhibitor will be provided one table (8t. long) and 2 chairs. Juneteenth Cincinnati reserves the right to determine whether you qualify as an Exhibitor and, if so, in which pavilion to locate you.
  %p RIGHT OF REFUSAL: Juneteenth Cincinnati reserves the right to disallow any inappropriately presented item and to remove concession at the Vendor's expense. Failure to adhere to the Festival rules and regulations for participation will result in the closure of the Vending Space. Products that promote or depict sex, violence, crime, or profanity are not permitted.
  %p HOLD HARMLESS: Vendor assumes the entire responsibility and liability for theft, losses, damages, suits, and claims deriving out of injury or damage to the Concessionarie's displays, equipment, and other property brought upon the premises of the Cincinnati Juneteenth Festival and shall indemnify and hold harmless the Cincinnati Park Board and Juneteenth Cincinnati from any such losses, damages, and claims.
  %p The Vendor acknowleges that Juneteenth Cincinnati does not maintain insurance covering such losses, damages, or claims by the Vendor. The Vendor agrees to pay any reasonable costs to repair any damange, which may occur to City propery as a result of the Vendor's activities.
