%section
  %h1 Food Vendor Information
  %p Festival Hours: 12 noon until 9:00 p.m.
  %p Booth Fee: $300 due with application
  %p 10' x 20' tented booth; 2 tables; four chairs
  %p You may bring your own booth or trailer, but must still pay the vending space fee.
  %p Electricity: We expect to have a single, large generator to service all food vendors. However, for this to work, we MUST know your needs in advance. This is especially important for deep fryers and other heavy duty equipment. Make sure you complete this information on the application form.
  %p Ice: We will provide you 50 lb. bags of ice at our cost.
  %p
    Health &amp; Fire Permit: All food vendors must obtain permits required by the City of Cincinnati no later than mid-May. Call Cincinnati Health Dept.
    = link_to "513-564-1751.", "tel:+1-513-564-1751"
    No food may be sold without a permit.
  %p Booth Assignment: When you arrive at the park, your booth will be labeled. The Vendor Coordinator will have a map identifying your booth as well. All food vendors will located in a single area.
  %p Duplication Minimized: We will limit applications to minimize duplication and increase variety for patrons and minimize direct competition for vendors. Applications are accepted on first-come basis. We will notify you if denied and return your fee.
  %p Specified Items: Vendors may sell only the kinds of items listed on their applications, so please be specific.
  %p Juneteenth Cincinnati is the only vendor authorized to sell soft drinks & water, hot dogs, metts, &amp; brats. These sales help cover Festival expenses.
  %p Setup: June 17, 8:00 a.m.&mdash;11:130 a.m. The police will close the area to vehicles at 11:30, and vehicles must be moved to designated parking areas.
  %p Breakdown: Vendors will be allowed to move vehicles into the vending area after 8:30 p.m. to break down.
  %h2 Health & Fire Permits & Inspections
  %p Health and Fire inspectors will be at the Festival. They are serious about their work and will not allow you to start selling food unless you have a permit AND your booth has passed inspection. You should, therefore, pay very close attention to the requirements for such things as a fan, meat hermometer, water containers, etc. These are all itemized on the checklist provided by the Health Department.
