%header
  .logo-container
    = link_to "Home" do
      = image_tag '../images/cincinnati-juneteenth-festival-logo.jpg', alt: 'Cincinnati Juneteenth Logo', class: ''

%h1 Cincinnati's 33rd Juneteenth Celebration will take place June 19th thru June 20th, 2021.
