%section
  %h1 There's plenty to see and do in the Kid's Area
  %ul
    %li Listen to a story
    %li Ride a pony
    %li Get a balloon
    %li Meet Harriet Tubman
    %li Play games
    %li Take a book home
