%section
  %h1 Non-Food Vendors
  %p The Non-Food vending fee includes a 10' x 10' tented booth and two chairs. You may bring your own booth, but you must still pay the vending space fee.  When you arrive at the park, your booth should be labeled. The Vendor Coordinator will have a map identifying your booth as well.
  %p We may limit applications to minimize duplication and increase variety for patrons and minimize direct competition for vendors. Applications are accepted on first-come basis. We will notify you if denied and return your fee.
  %h2 Prohibited Items
  %ul
    %li No one will be permitted to sell or use items of violence such as toy guns, water guns, BB. guns, or caps, or fireworks of any kind.
    %li No food: Food may be sold only from a food vending booth with a Health permit.
    %li Music, Sound System: Vendors may not have sound systems (boom boxes, amplifiers, etc.) that project beyond the immediate area of the booth.
  %p Specified Items: Vendors may sell only the kinds of items listed on their applications, so please be specific.
  %p RIGHT OF REFUSAL: Juneteenth Cincinnati reserves the right to disallow any inappropriately presented item and to remove concession at the Vendor's expense. Failure to adhere to the Festival rules and regulations for participation will result in the closure of the Vending Space. Products that promote or depict sex, violence, crime, or profanity are not permitted.
  %p HOLD HARMLESS: Vendor assumes the entire responsibility and liability for theft, losses, damages, suits, and claims deriving out of injury or damage to the Concessionarie's displays, equipment, and other property brought upon the premises of the Cincinnati Juneteenth Festival and shall indemnify and hold harmless the Cincinnati Park Board and Juneteenth Cincinnati from any such losses, damages, and claims.
  %p The Vendor acknowleges that Juneteenth Cincinnati does not maintain insurance covering such losses, damages, or claims by the Vendor. The Vendor agrees to pay any reasonable costs to repair any damange, which may occur to City propery as a result of the Vendor's activities.
