%section
  %h1 Photos from the Festival
  %p
    We've also posted many more photos and videos to our Facebook page.
    = link_to "Check 'em out!", "https://www.facebook.com/CincinnatiJuneteenth/photos/?tab=album&album_id=2763411597008836&ref=page_internal", target: "_blank"
