%section
  %h1 Schedule
  %p The 2021 Cincinnati Juneteenth Festival Schedule is currently being organized and finalized. Due to COVID-19, this year's festival will look very different than it has in the past. Once the schedule has been finalized, we will add it here.
