%section
  %h1 Juneteenth Welcomes Vendors
  %h2 Great Vending Opportunities at the 2021 Juneteenth Festival
  %ul
    %li Food
    %li Crafts
    %li Art
    %li Clothing
    %li Service
    %li Information
  %p Juneteenth Vending rates are very reasonable and include:
  %ul
    %li Tented booth
    %li Table
    %li Chairs
  %p Download Vendor Information, Fees &amp; Application Forms
  %ul
    %li
      = link_to "Non Food Vendor Information and Application Form", "../images/files/JuneteenthNon-foodVendorform--2020.pdf", target: "_blank"
    %li
      = link_to "Food Vendor Information and Application Form", "../images/files/JuneteenthFoodVendorForm--2020.pdf", target: "_blank"
    %li
      = link_to "Exhibitors Information and Application Form", "../images/files/JuneteenthExhibitorsForm--2020.pdf", target: "_blank"
    %li
      = link_to "Vendor &amp; Exhibitor Fees", "vendor-fees.html.haml", target: "_blank"
